@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .text-edge-outline {
    -webkit-text-stroke: 1px rgba(255,255,255,0.3);
  }
} 

.spotlight {
  position: relative;
}

.spotlight::before {
  content: '';
  position: absolute;
  inset: -20px;
  background: radial-gradient(
    circle at var(--x) var(--y),
    rgba(255, 255, 255, 0.3),
    transparent 40%
  );
  opacity: 0;
  transition: opacity 0.3s;
  pointer-events: none;
}

.spotlight:hover::before {
  opacity: 1;
}
